# Executables and Installers
*.exe
*.msi

# Archives
*.zip
*.rar
*.7z

# Large library files
*.dll
*.so
*.dylib
*.jar
*.cv

# Specific large folders from logs
Semester-3/Database/01-Database/datamodeler-23.1.0.087.0806-x64/
Semester-3/Database/01-Database/datamodeler-23.1.0.087.0806-no-jre/

# IDE & OS Junk
.vs/
.vscode/
.idea/
tempCodeRunnerFile.py
*.layout
.DS_Store